 [[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
flake8 = "*"
pep8-naming = "*"
pytest = "*"
mypy = "*"
ipython = "*"
mongomock = "*"
grpc-stubs = "*"
pylint = "*"

[packages]

schematics = "*"
mypy-protobuf = "*"
requests = "*"
flask = "*"
python-dotenv = "*"
fastapi= "*"
uvicorn= "*"
pyyaml="*"
pynacl ="*"
azure-keyvault-secrets = "*"
azure-identity = "*"
kubernetes="*"

[requires]
python_version = "3.8"